<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeaile.user.mapper.PermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yeaile.user.entity.Permission">
        <id column="id" property="id"/>
        <result column="description" property="description"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="pid" property="pid"/>
        <result column="level" property="level"/>
        <result column="method" property="method"/>
        <result column="url" property="url"/>
        <result column="path" property="path"/>
        <result column="icon" property="icon"/>
        <result column="sort" property="sort"/>
        <result column="status" property="status"/>
        <result column="code" property="code"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
 description, 
 name,
 type, 
 pid, 
 level, 
 method, 
 url, 
 icon, 
 sort, 
 status, 
 code,
 path,
 update_time, 
 create_time, 
 delete_flag

    </sql>
    <select id="getAllPermissionWithRole" resultType="com.yeaile.user.entity.Permission">
        select tp.id,
               tp.status,
               tp.code,
               tp.description,
               tp.icon,
               tp.level,
               tp.method,
               tp.pid,
               tp.sort,
               tp.url,
               tp.type,
               tr.name_zh,
               tr.role_name,
               tr.id as role_id
        from tb_permission as tp,
             tb_role_permission as trp,
             tb_role as tr
        where tp.id = trp.permission_id
          and trp.role_id = tr.id
    </select>
    <select id="getAllPathsByUserName" resultType="java.lang.String">
        select  tp.url
        from  tb_user_role as tur
                 left join tb_role as tr on tur.role_id=tr.id
                 left join tb_role_permission trp on tr.id = trp.role_id
                 left join tb_permission tp on tp.id = trp.permission_id
        where user_id = (select id from tb_user where user_name = #{username})
    </select>
    <select id="findAll" resultType="com.yeaile.user.entity.Permission">
       select  url ,method from tb_permission group by url,method
    </select>
    <select id="findPermissionByUrl" resultType="com.yeaile.user.entity.Permission">
        select
        <include refid="Base_Column_List"/>
        from tb_permission where url = #{url}
    </select>
    <select id="getAllPathsByUserNameAndMethod" resultType="com.yeaile.user.entity.Permission">
        select
        <include refid="Base_Column_List"/>
        from tb_permission where url like concat('%', #{url}, '%') and method ="GET" and pid !=0
    </select>
    <select id="getPidByUrl" resultType="java.lang.String">
        select id from tb_permission where url like concat('%', #{url}, '%')  and pid =0
    </select>
    <select id="getMainMenu" resultType="com.yeaile.user.entity.Permission">
        select
        <include refid="Base_Column_List"/>
        from tb_permission where pid = 0
    </select>


    <select id="selectListAll" resultType="com.yeaile.common.domain.user.vo.PermissionAllVO">
          select id, description, name as menu_name, icon, sort , url from tb_permission where pid=0;
    </select>
    <select id="getSonPermis" resultType="java.lang.String">
        select  name from tb_permission where pid =#{key}
    </select>
    <select id="selectByPid" resultType="com.yeaile.common.domain.user.vo.PermissionVO">
        select
        <include refid="Base_Column_List"/>
        from tb_permission where pid = #{id}
    </select>
    <select id="getUserMenuByUserId" resultType="com.yeaile.common.domain.user.vo.PermissionVO">
        select * from tb_permission where type=1
    </select>
    <select id="selectPermissionByRoleId" resultType="com.yeaile.user.entity.Permission">
        select tp.id, tp.url, tp.name, tp.description, tp.code,tp.pid
        from tb_role_permission as trp
                 left join tb_permission as tp on trp.permission_id = tp.id and tp.delete_flag = 0 and tp.delete_flag = 0
        where trp.role_id = #{id}
</select>


</mapper>
