package ${cfg.servicePackage};

import ${cfg.dtoPackage}.${cfg.dtoName};

/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${cfg.serviceName} {

}
